# Arquivos gerados pelo PlatformIO
.pio/

# Logs do servidor
server/logs/

# Cache e ambientes Python
__pycache__/
*.py[cod]
.venv/
venv/

# Arquivos temporários do Jupyter
.ipynb_checkpoints/

datasets/
.pio/
server/logs/
